<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
Hey, {{ assignee.name }},<br>
We've got a task for you to test:<br>
<b>{{ task.title }}</b><br>
Scenario:<br>
<b>{{ task.testingScenario }}</b>

<br>
Notification bot.
</body>
</html>