{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li><a href="{{ path('user_index') }}">Back to the list</a></li>
            </ol>
            <h1>User creation</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" class="btn btn-success pull-right" />
            {{ form_end(form) }}
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}

